/* Variabile */
:root {
--primary: #bc5a45;
--dark: #36486b;
--light:#fefbd8;
--shadow: 0 1px 5px rgba(104,104,104,0.8);
}

html{
	box-sizing: border-box;
	font-family: Arial,Helvetica,sans-serif;
	color: var(--dark);
}

body{
	background: #f4e1d2;
	margin: 30px 50px;
	line-height: 1.4;
}

.btn{
	background: var(--dark);
	color:var(--light);
	padding: 0.6rem 1.3rem;
	text-decoration: none;
	border: 0;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
	left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
img{
	max-width: 100%;
}

.wrapper{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 0.25fr;
	grid-template-areas:
	'. . account-box'
	'main-nav main-nav main-nav'
	'top-container top-container top-container'
	'boxes boxes boxes'
	'footer footer footer';
}

.account-box {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	grid-area: account-box;
	padding: 0px 5px;
}

.account-box a {
	margin-left: 5px;
}

.main-nav {
	grid-area: main-nav;

}

.main-nav ul{
	display: grid;
	grid-gap: 20px;
	padding: 0;
	list-style: none;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main-nav a{
	background: var(--primary);
	display: block;
	text-decoration: none;
	padding: 0.8rem;
	text-align: center;
	color:var(--dark);
	text-transform: uppercase;
	font-size: 1.1rem;
	box-shadow: var(--shadow);
	
}
ul.sub-menu {
    display: flex;
    position: absolute;
    width: 20%;
    z-index: 1;
    
    flex-direction: column;
    padding: 0.5rem;
    box-shadow: var(--shadow);
	background: var(--primary);
	display: none;
}
ul.sub-menu li{
	margin: 0.5rem;
	padding: 0.8rem;
	text-align: center;
	color:var(--dark);
	text-transform: uppercase;
	font-size: 1.1rem;
	box-shadow: var(--shadow);
}

ul.sub-menu li:hover{
     
	background: var(--dark);
	color:var(--light);
}
.main-nav li:hover .sub-menu{
	opacity: 1;
	justify-content: center;
	display: block;
}


.main-nav a:hover{
	background: var(--dark);
	color:var(--light);
}

.top-container{
	grid-area: top-container;
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
	'showcase showcase topbox-1'
}

.showcase{
	position: relative;
	grid-area: showcase;
	min-height: 400px;
	background-size: cover;
	background-position: center;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content:center;
	
}
.showcase h1{
	font-size: 5rem;
	margin-bottom: 0px;
	color: var(--light);
	text-align: right;
}
.showcase p{
	font-size: 3rem;
	margin-bottom: 0px;
	color: var(--light);
	text-align: right;
}
.dots{
	position: absolute;
	width: 100%;
	bottom: 1%;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.topbox{
	background: var(--primary);
	display: grid;
	text-align: center;
	align-items: center;
	justify-content: center;
	box-shadow: var(--shadow);
	padding: 1.5rem;
}
.topbox .price{
	font-size: 2.5rem;
}
.topbox-1{
	grid-area: topbox-1;
}
.topbox-2{
	grid-area: topbox-2;
}


/*Boxes*/
.boxes{
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr;
	grid-area: boxes;
}
.box{
	background: var(--primary);
	text-align: center;
	padding: 1.5rem;
	box-shadow: var(--shadow);
}

footer{
	grid-area: footer;
	margin-top: 2rem;
	color: var(--light);
	background: var(--dark);
	text-align: center;
	padding: 1rem;
}
/*  login html   */

.loginbox{

   width: 30%;
   height: 50%;
   background-color: rgba(0,0,0,0.5);
   color: var(--light);
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%,-50%);
   box-sizing: border-box;
   padding: 70px 30px;
}
.avatar{
   width: 200px;
   height: 200px;
   position: absolute;
   
   top: -20%;
   left: 33%;
}
.loginbox h1{
	margin:0;
	padding: 0 0 20px;
	text-align: center;
    font-size: 3rem;
}
.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 1.6rem;
}
.loginbox input{
	width: 100%;
	margin-bottom: 5%;
}

.loginbox input[type="text"],input[type="password"]{
 border: none;
 border-bottom: 1px solid var(--light);
 color: var(--primary);
 background:transparent;
 outline: none;
 font-size: 1.5rem;
}
::placeholder{
	color: darkgrey;
}

.loginbox input[type="submit"]{
	border :none;
	outline: none;
	
	background: var(--dark);
	color: var(--light);
	font-size: 2rem;
	border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
	cursor: pointer;
    background-color: var(--primary);
    color: var(--dark);
}
.loginbox a{
text-decoration:none;
font-size: 1.5rem;
color: var(--light);
margin-left: 10%;
font-weight: bold;
float: left;
}
@media only screen and (max-width: 800px){
	p {
		font-size: 1.5rem;
	} 
	h1{
		font-size: 2.7rem;
	}
	h3{
		font-size: 2.3rem;
	}
	h4{
		font-size: 2rem;
	}
	.wrapper{
		grid-template-areas:
	'account-box account-box account-box'
	'main-nav main-nav main-nav'
	'top-container top-container top-container'
	'boxes boxes boxes'
	'footer footer footer';
	}
	.top-container{
		grid-template-areas: 
		'showcase showcase'
		'topbox-1 topbox-2';
	}
	.showcase h1{
		font-size: 2.5rem;
	}
	.main-nav ul{
		grid-template-columns: 1fr
	}
	.boxes{
		grid-template-columns: 1fr;
	}

	.account-box{
		width: 100%;
	}
	.account-box > .btn{
         width: 50%;
         text-align: center;

	}
}

